[submodule "hal"]
	path = hal
	url = https://github.com/sprocket-board/stm32g0xx-hal.git
[submodule "crates/groundhog-stm32g031"]
	path = crates/groundhog-stm32g031
	url = https://github.com/sprocket-board/groundhog-stm32g031
[submodule "crates/cassette"]
	path = crates/cassette
	url = https://github.com/jamesmunns/cassette
[submodule "crates/static-alloc"]
	path = crates/static-alloc
	url = https://github.com/jamesmunns/static-alloc.git
